body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter Tight', sans-serif;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
