body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
}

h4 {
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-weight: 500;
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media only screen and (max-width: 768px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
