.container {
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
}

@media only screen and (max-width: 1439px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 16px;
  }
}
