:root {
  --black: #1c1d20;
  --darkGrey: #242527;
  --grey: #3b3b3b;
  --coral: #ed3b44; /*main theme*/
  --darkCoral: #e0373f;
  --white: #fafafa;
  --green: #3cbc81;
  --lightGreenTheme: #c6e327; /*for light green theme*/
  --blueTheme: #0041e8; /*for blue theme*/
  --lightBrownTheme: #e6533c; /*for light brown theme*/
  --greyTheme: #2b4441; /*for grey theme*/
  --orangeTheme: #ff7f08; /*for orange theme*/
}
