:root {
  --transparent-grey: #fafafa80;
}

.about-me p {
  color: var(--white);
}

/* #region CAPTION */
.about-me-caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
  gap: 16px;
  align-items: center;
  margin-bottom: 96px;
}

@media screen and (max-width: 1439px) {
  .about-me-caption {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .about-me-caption {
    margin-bottom: 16px;
  }
}

.about-me-caption div {
  width: 680px;
  height: 700px;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--dark-grey);
}

@media screen and (max-width: 1439px) {
  .about-me-caption div {
    width: 700px;
    height: 704px;
  }
}

@media screen and (max-width: 767px) {
  .about-me-caption div {
    width: 343px;
    height: 500px;
  }
}

.profile-photo {
  width: 100%;
  height: 100%;
  display: flex;
}

.profile-photo img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.about-me-text p {
  font-size: 36px;
  line-height: normal;
  padding: 64px;
  text-transform: uppercase;
}

@media screen and (max-width: 1439px) {
  .about-me-text p {
    font-size: 38px;
  }
}

@media screen and (max-width: 767px) {
  .about-me-text p {
    font-size: 24px;
    padding: 32px;
  }
}

.grey-accent-text {
  color: var(--transparent-grey);
}

/* #endregion CAPTION */

/* #region LIST */

.about-me-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* accordion ac */
.about-me-list li.ac.about-me-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: inherit;
  border: none;
  margin: 0;
}

.about-me-list li.ac.about-me-item::after {
  content: url('../img/icons.svg#horiz-line');
  /* content: 'HOLA'; */
  width: 1376px;
  stroke: white;
}

@media screen and (max-width: 1439px) {
  .about-me-list li.ac.about-me-item::after {
    width: 704px;
  }
}

@media screen and (max-width: 767px) {
  .about-me-list li.ac.about-me-item::after {
    width: 343px;
  }
}

.about-me-list .about-list-text-box {
  display: flex;
  justify-content: end;
}

li.ac.about-me-item p.ac-text {
  width: 50%;
  font: inherit;
  color: inherit;
  line-height: 1.5;
  letter-spacing: -0.02em;
  padding: 8px 68px 32px 8px;
}

@media screen and (max-width: 1439px) {
  li.ac.about-me-item p.ac-text {
    width: 100%;
    line-height: 1.5;
    letter-spacing: -0.02em;
    padding: 8px 68px 32px 8px;
  }
}

.about-list-header-box {
  position: relative;
  height: fit-content;
  min-height: 40px;
}

.about-list-header-box button.arrow-button {
  background: transparent;
  border: 1px solid var(--transparent-grey);
  border-radius: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
}

.arrow-icon {
  stroke: var(--white);
  transition: transform 0.5s ease-out;
}

.ac .ac-trigger::after {
  content: '' !important;
}

/* #endregion LIST */
