/* #region Footer*/

#lets-work-together .container {
  background-image: url('../img/footer/glass-effect.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 160px) center;
}

/* #region Text */

.footer-text {
  width: 542px;
  height: 146px;
  flex-shrink: 0;
}

.footer-text-container {
  display: flex;
  align-items: center;
}

.footer-text-img {
  margin-top: 5px;
  margin-right: 20px;
}

.footer-text-title {
  color: #fafafa;

  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1.92px;

  margin-top: 8px;
}

/* #endregion Text */

/* #region Form*/

.footer-form {
  margin-top: 18px;
  margin-bottom: 18px;

  display: flex;
  align-items: center;
  gap: 32px;
}

.footer-form-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  position: relative;
}

.form-span {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.form-success-text {
  position: absolute;
  top: 48px;
  left: 0px;
  color: var(--green);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.form-error-text {
  position: absolute;
  top: 48px;
  left: 0px;
  color: #e74a3b;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.footer-form-input {
  width: 390px;
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;

  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  outline: none;
  padding-bottom: 20px;
  transition: 0.4s ease-in-out;
}

.footer-form-input#comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-form-input:hover,
.footer-form-input:focus {
  color: var(--white);
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.footer-form-email:not(:placeholder-shown):invalid {
  border-bottom: 1px solid #e74a3b;
}

.footer-form-email:valid {
  border-bottom: 1px solid var(--green);
}

.footer-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  outline: inherit;
  background-color: var(--coral);

  color: #fafafa;
  font-weight: 500;
  line-height: var(--white);
  letter-spacing: -0.32px;

  margin-left: 54px;
  transition: 0.5s ease-in-out;
}

.footer-btn:hover,
.footer-btn:active {
  background-color: var(--hover-coral);
  box-shadow: 0 0 20px var(--hover-coral);
  transform: scale(1.1);
}

.footer-btn:focus {
  border: 1px solid var(--white);
}
/* #endregion Form*/

/* #region Contacts*/

.footer-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-contacts-link {
  padding: 18px 32px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  outline: none;
  transition: 0.5s ease-in-out;
}
.footer-contacts-link:hover,
.footer-contacts-link:active,
.footer-contacts-link:focus {
  border: 1px solid var(--white);
}

/* #endregion Contacts*/

/* #endregion Footer*/
