.header {
  padding-top: 32px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 8px;
}
.logo-text {
  color: var(--white);
  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}
.menu {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-btn {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--white);
  font-weight: 500;
  letter-spacing: -0.32px;
  padding: 10px;
}

.menu-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-list-item {
  transition-property: color;
}

@media screen and (hover: hover) {
  .menu-list-item:hover {
    color: var(--accent-color);
  }
}

.menu-list-item:focus {
  color: var(--accent-color);
}

@media screen and not (hover: hover) {
  .menu-list-item:active {
    color: var(--accent-color);
  }
}

.order-btn {
  display: flex;
  width: 163px;
  height: 55px;
  justify-content: center;
  align-items: center;
  line-height: normal;
  border-radius: 60px;
  background-color: var(--accent-color);
  border: none;
  transition-property: background-color;
}

@media only screen and (max-width: 767px) {
  .order-btn {
    display: none;
  }
}

@media screen and (hover: hover) {
  .order-btn:hover {
    background-color: var(--hover-accent-color);
  }
}

.order-btn:focus {
  background-color: var(--hover-accent-color);
}

@media screen and not (hover: hover) {
  .order-btn:active {
    background-color: var(--hover-accent-color);
  }
}

.menu-burger {
  width: 28px;
  height: 28px;
  background: none;
  border: none;
}

@media only screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }
}
.menu-burger-icon {
  stroke: var(--white);
}
