.header {
  padding-top: 32px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 8px;
}
.logo-text {
  font-size: 20px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu-btn {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--white);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}
.order-btn {
  display: flex;
  width: 163px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--coral);
  color: var(--white);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  border: none;
}
@media screen and (hover: hover) {
  .order-btn:hover {
    border-color: var(--hover-coral);
  }
}

.order-btn:focus {
  border-color: var(--hover-coral);
}

@media screen and not (hover: hover) {
  .order-btn:active {
    border-color: var(--hover-coral);
  }
}
