.header {
  padding-top: 32px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 8px;
}
.logo-text {
  font-size: 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-btn {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--white);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.menu-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.order-btn {
  display: flex;
  width: 163px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--coral);
  color: var(--white);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  border: none;
}

@media only screen and (max-width: 767px) {
  .order-btn {
    display: none;
  }
}

@media screen and (hover: hover) {
  .order-btn:hover {
    border-color: var(--hover-coral);
  }
}

.order-btn:focus {
  border-color: var(--hover-coral);
}

@media screen and not (hover: hover) {
  .order-btn:active {
    border-color: var(--hover-coral);
  }
}

.menu-burger {
  width: 28px;
  height: 28px;
  background: none;
  border: 1px solid #fafafa;
}

@media only screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }
}
