.stack-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.stack-list {
  display: flex;
  flex-direction: row;
}

.stack-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  width: 200px;
  height: 200px;

  border: 1px solid rgba(250, 250, 250, 0.2);
  stroke-width: 1px;
  /* stroke: rgba(250, 250, 250, 0.2); */

  border-radius: 50%;
}

.chosen {
  background-color: var(--coral);
}

.arrow-wrap {
  display: flex;
  align-items: center;
}

.arrow {
  stroke: white;
  fill: none;
}
