<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <a href="./index.html" class="logo-image-link">
          <img
            src="./img/header/image.png"
            alt="Lloyd Jefferson"
            class="logo-image"
            width="80"
            height="80"
            loading="lazy"
          />
        </a>
        <p class="logo-text">jefferson*</p>
      </div>
      <div class="menu">
        <button class="menu-btn" aria-label="Menu button">Menu</button>
        <ul class="menu-list">
          <li class="menu-list-item">
            <a
              href="#about-me"
              class="menu-list-link"
              aria-label="go to about me"
              >About me</a
            >
          </li>
          <li class="menu-list-item">
            <a
              href="#benefits"
              class="menu-list-link"
              aria-label="go to benefits"
              >Benefits</a
            >
          </li>
          <li class="menu-list-item">
            <a
              href="#projects"
              class="menu-list-link"
              aria-label="go to the ptojects"
              >Projects</a
            >
          </li>
          <li class="menu-list-item">
            <a href="#faq" class="menu-list-link" aria-label="go to faq">FAQ</a>
          </li>
        </ul>
      </div>
      <a class="order-btn" aria-label="Order button" href="#lets-work-together">
        Order the project
      </a>
      <button class="menu-burger" aria-label="Menu button">
        <svg class="menu-burger-icon" id="burgerBtn" width="28" height="28">
          <use href="./img/icons.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
