<section class="hero section">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-links">
      <ul class="hero-socials">
        <li class="socials-item">
          <a
            href="https://www.instagram.com/goitclub/  "
            class="socials-link"
            target="_blank"
            aria-label="person page instagram"
            >IG</a
          >
        </li>
        <li class="socials-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="socials-link"
            target="_blank"
            aria-label="person page facebook"
            >FB</a
          >
        </li>
        <li class="socials-item">
          <a
            href="https://www.youtube.com/c/GoIT  "
            class="socials-link"
            target="_blank"
            aria-label="person page youtube"
            >YT</a
          >
        </li>
        <li class="socials-item">
          <a
            href="https://github.com/anastasiia-riabokon/project-digital-dragons-portfolio-js"
            class="socials-link"
            target="_blank"
            aria-label="person page project"
            >GH</a
          >
        </li>
      </ul>
      <address>
        <a href="mailto:" class="hero-email" aria-label="person email"
          >lloydjefferson@gmail.com</a
        >
      </address>
    </div>
  </div>
</section>
