<section class="hero section">
    <div class="container">
        <h1 class="hero-title">
            Hello.<br>
            I’m Fullstack developer
            Lloyd Jefferson.
        </h1>
        <div class="hero-links">
            <ul class="hero-socials">
                <li class="socials-item">
                    <a href="https://www.instagram.com/goitclub/  " class="socials-link" target="_blank">IG</a>
                </li>
                <li class="socials-item">
                    <a href="https://www.facebook.com/goITclub/" class="socials-link" target="_blank">FB</a>
                </li>
                <li class="socials-item">
                    <a href="https://www.youtube.com/c/GoIT  " class="socials-link" target="_blank">YT</a>
                </li>
                <li class="socials-item">
                    <a href="https://github.com/anastasiia-riabokon/project-digital-dragons-portfolio-js"
                        class="socials-link" target="_blank">GH</a>
                </li>
            </ul>
            <address>
                <a href="mailto:" class="hero-email">lloydjefferson@gmail.com</a>
            </address>
        </div>
    </div>
</section>