<div class="modal-mob-menu is-active">
    <button class="modal-button" type="button">
        <svg class="modal-close" width="8" height="8">
            <use href="../images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <ul class="modal-menu-list">
        <li class="modal-list-item"><a href="" class="modal-list-link"></a></li>
        <li class="modal-list-item"><a href="" class="modal-list-link"></a></li>
        <li class="modal-list-item"><a href="" class="modal-list-link"></a></li>
        <li class="modal-list-item"><a href="" class="modal-list-link"></a></li>
    </ul>
    <a class="order-btn-mob" aria-label="Order button" href="#work-together">
        Order the project
    </a>
</div>