<div class="modal-mob-menu is-active">
    <button class="modal-button" type="button">
        <svg class="modal-close" width="8" height="8">
            <use href="../images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <ul class="mob-menu-list">
        <li class="menu-list-item">
            <a href="#about-me" class="menu-list-link">About me</a>
        </li>
        <li class="menu-list-item">
            <a href="#benefits" class="menu-list-link">Benefits</a>
        </li>
        <li class="menu-list-item">
            <a href="#projects" class="menu-list-link">Projects</a>
        </li>
        <li class="menu-list-item">
            <a href="#faq" class="menu-list-link">FAQ</a>
        </li>
    </ul>
    <a class="order-btn-mob" aria-label="Order button" href="#work-together">
        Order the project
    </a>
</div>