<div class="modal-mob-menu">
    <button class="modal-button" type="button">
        <svg class="modal-close" width="28" height="28">
            <use href="../img/icons.svg#icon-close"></use>
        </svg>
    </button>
    <ul class="mob-menu-list">
        <li class="mob-list-item">
            <a href="#about-me" class="mob-list-link">About me</a>
        </li>
        <li class="mob-list-item">
            <a href="#benefits" class="mob-list-link">Benefits</a>
        </li>
        <li class="mob-list-item">
            <a href="#projects" class="mob-list-link">Projects</a>
        </li>
        <li class="mob-list-item">
            <a href="#faq" class="mob-list-link">FAQ</a>
        </li>
    </ul>
    <a class="order-btn-mob" aria-label="Order button" href="#lets-work-together">
        Order the project
    </a>
</div>