<div class="container">
  <h2>Projects</h2>
  <div class="white-block">
    <ul class="list-hashtag">
      <li class="item-hashtag">
        <p class="text-hashtag">#react</p>
      </li>
      <li class="item-hashtag">
        <p class="text-hashtag">#js</p>
      </li>
      <li class="item-hashtag">
        <p class="text-hashtag">#node js</p>
      </li>
      <li class="item-hashtag">
        <p class="text-hashtag">#git</p>
      </li>
    </ul>
  </div>

  <h3 class="">Programming Across Borders: Ideas, Technologies, Innovations</h3>

  <div class="dark-block"></div>
</div>
