<div class="container">
  <h2 class="title-projects">Projects</h2>
  <div class="project-container">
    <div class="white-block">
      <ul class="list-hashtag">
        <li class="item-hashtag">
          <p class="text-hashtag">#react</p>
        </li>
        <li class="item-hashtag">
          <p class="text-hashtag">#js</p>
        </li>
        <li class="item-hashtag">
          <p class="text-hashtag">#node js</p>
        </li>
        <li class="item-hashtag">
          <p class="text-hashtag">#git</p>
        </li>
      </ul>
      <h3 class="subtitle-projects">
        Programming Across Borders: Ideas, Technologies, Innovations
      </h3>
      <a
        class="link-project"
        href="https://github.com/anastasiia-riabokon/project-digital-dragons-portfolio-js/"
        target="_blank"
        rel="noopener noreferrer"
        >See project</a
      >
    </div>
    <div class="dark-block">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/projects/desktop/book-desk@1x.png 1x,
            ../img/projects/desktop/book-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/projects/tablet/book-tab@1x.png 1x,
            ../img/projects/tablet/book-tab@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/projects/mobile/book-mob@1x.png 1x,
            ../img/projects/mobile/book-mob@2x.png 2x
          "
        />

        <img
          src="../img/projects/desktop/book-desk@1x.png"
          alt="project"
          width="614"
          height="385"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <div class="container-arrow">
    <svg class="icon-arrow-project-left" width="68" height="68">
      <use href="../img/icons.svg#arrow-left"></use>
    </svg>

    <svg class="icon-arrow-project-right" width="68" height="68">
      <use href="../img/icons.svg#arrow-right"></use>
    </svg>
  </div>
</div>
