<section class="section">
  <div class="container">
    <h2 class="title-projects">Projects</h2>
    <div class="project-container projects-js">
      <div class="white-block white-block-js">
        <ul class="list-hashtag list-hashtag-js"></ul>
        <h3 class="subtitle-projects">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <!--<a
          class="link-project"
          href="https://github.com/anastasiia-riabokon/project-digital-dragons-portfolio-js/"
          target="_blank"
          rel="noopener noreferrer"
          >See project</a> -->
      </div>

      <picture class="dark-block">
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/projects/desktop/book-desk@1x.png 1x,
            ../img/projects/desktop/book-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/projects/tablet/book-tab@1x.png 1x,
            ../img/projects/tablet/book-tab@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/projects/mobile/book-mob@1x.png 1x,
            ../img/projects/mobile/book-mob@2x.png 2x
          "
        />

        <img
          src="../img/projects/desktop/book-desk@1x.png"
          alt="project"
          width="614"
          height="385"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="container-arrow arrow-js"></div>
  </div>
</section>
