<section id="reviews" class="section">
  <div class="container wrapper__reviews">
    <h2 class="reviews__title">REVIEWS</h2>
    <div class="swiper js-swiper__reviews">
      <ul class="swiper-wrapper js-reviews__list"></ul>
    </div>
    <div class="btn__box">
      <button
        class="btn__reviews btn-arrow-left btn-left-js"
        aria-label="arrow for change slide"
      >
        <svg class="icon-arrow icon-arrow-left" width="68" height="68">
          <use href="./img/icons.svg#arrow-left"></use>
        </svg>
      </button>

      <button
        class="btn__reviews btn-arrow-right btn-right-js"
        aria-label="arrow for change slide"
      >
        <svg class="icon-arrow icon-arrow-right" width="68" height="68">
          <use href="./img/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
