<div id="stack-wrapper" class="swiper">
  <ul id="stack-list" class="swiper-wrapper js-stack-list">
    <li id="stack-item" class="swiper-slide chosen">
      <p class="stack-text">HTML/CSS</p>
    </li>
    <li id="stack-item" class="swiper-slide stack-item">
      <p class="stack-text">JavaScript</p>
    </li>
    <li id="stack-item" class="swiper-slide stack-item">
      <p class="stack-text">React</p>
    </li>
    <li id="stack-item" class="swiper-slide stack-item">
      <p class="stack-text">Node.js</p>
    </li>
    <li id="stack-item" class="swiper-slide stack-item">
      <p class="stack-text">React Native</p>
    </li>
    <li id="stack-item" class="swiper-slide stack-item">
      <p class="stack-text">Soft skills</p>
    </li>
  </ul>
  <div class="arrow-wrap js-arrow-wrap">
    <svg class="arrow" width="40" height="40">
      <use stack-itemef="../img/icons.svg#stack-arrow"></use>
    </svg>
  </div>
</div>
