<section class="section">
  <div class="container my-cont">
    <div id="stack" class="swiper">
      <ul id="stack-list" class="swiper-wrapper js-stack-list">
        <li data-id="0" id="stack-item" class="swiper-slide">
          <p class="stack-text">HTML/CSS 0</p>
        </li>
        <li data-id="1" id="stack-item" class="swiper-slide stack-item">
          <p class="stack-text">JavaScript 1</p>
        </li>
        <li data-id="2" id="stack-item" class="swiper-slide stack-item">
          <p class="stack-text">React 2</p>
        </li>
        <li data-id="3" id="stack-item" class="swiper-slide stack-item">
          <p class="stack-text">Node.js 3</p>
        </li>
        <li data-id="4" id="stack-item" class="swiper-slide stack-item">
          <p class="stack-text">React Native 4</p>
        </li>
        <li data-id="5" id="stack-item" class="swiper-slide stack-item">
          <p class="stack-text">Soft skills 5</p>
        </li>
      </ul>
    </div>
    <button data-type="next" type="button" class="arrow-btn js-arrow">
      <svg class="arrow-svg" width="40" height="40">
        <use href="../img/icons.svg#stack-arrow"></use>
      </svg>
    </button>
  </div>
</section>
